<?xml version="1.0"?>
<Credentials>
    <SiteUrl></SiteUrl>
    <TenantUrl></TenantUrl>
    <Username></Username>
    <ProvisioningWebsiteUrl></ProvisioningWebsiteUrl>
    <ReceivingWebsiteUrl></ReceivingWebsiteUrl>
    <ListToBeExtracted></ListToBeExtracted>
    <UserJourneyListTargetSite></UserJourneyListTargetSite>
    <JourneyListProvisioningSite></JourneyListProvisioningSite>
    <JourneyListName></JourneyListName>
    <JourneyListReceivingSite></JourneyListReceivingSite>
</Credentials>