.JourneyCard {
    display: flex;
    flex-direction: column;
    height: 422px;
    width: 640px;
    border: 3px solid #3f3f3f;
    padding-top: 10px;
    border-radius: 8px;
    margin: 10px;
}

.JourneyCard img {
    top: -185px;
    position: relative;
    height: 363px;
    width: 640px;
    border-radius: 5px;
}

.JourneyCard img:hover{
    opacity: 0;
}

.JourneyCard ul {
    display: flex;
    justify-content: flex-start;
}

.JourneyCard li {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

h3{
    margin-left: 10px;
}

p{
    text-align: left;
    font-size: larger;
    margin-left: 0.5em;
}