.Journey {
    display: flex;
    flex-direction: column;
    height: 422px;
    width: 640px;
    border: 3px solid #3f3f3f;
    padding-top: 10px;
    border-radius: 8px;
    margin: 10px;
}

.Journey img {
    height: 360px;
    width: 640px;
    border-radius: 5px;
}

h3, p {
    margin-left: 10px;
}